* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #1a1b1f;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
}

p {
    font-size: 12px;
}

nav {
    margin: 0 15px;
}

.nav-items {
    padding: 30px 5px;
}

.todaysdate {
   margin: 0px auto;
}


span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: line-through;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    opacity: 59%;
}


ul {
    display: flex;
    justify-content: space-between;
}

ul a {
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

p:first-child{
    font-size: 20px;
    line-height: 34px;
}

#my-description{
    font-size: 16px;
    line-height: 28px;
    opacity: 59%;
}


h1 {
    text-align: left;
    font-size: 64px;
    line-height: 80px;
    margin: 10px 0;
    font-weight: 400;
}


section {
    margin-bottom: 50px;
    margin: 0px 15px 0px 15px;
}

.works-grid {
    display: grid;
    margin-bottom: 80px;
    object-fit: fill;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.works-grid div:hover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.works-grid div img {
    margin-bottom: 30px;
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 4px 4px 24px -13px rgba(0,0,0,0.16);
}

.description a {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

.description p {
    opacity: 59%;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

.paragraph-light {
    text-align: center;
}

.work-experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 140px;
    line-height: 34px;
    font-size: 20px;
}

h2 {
    font-weight: 400;
    margin: 40px auto;
    text-align: center;

}

.contact-wrapper {
    background-color: #f4f4f4;
    padding: 15px;
}

.contact {
    padding: 30px 15px 40px 15px;
}

.contact h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
    line-height: 46px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

input {
    width: 80%;
    margin-bottom: 18px;
    padding: 21px 20px;
    border: 1px solid #e4e4e4;
}

button {
    padding: 12px 40px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #1a1b1f;
    border: none;
}

button:hover {
    opacity: 59%;
    color: ffffff;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 15px 80px 15px;
}

footer a {
    opacity: 60%;
    padding: 20px 0;
}





/* queries */


/* mobile */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        margin: 0 15px
    }

    p {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 36px;
        line-height: 48px;
    }

    .works-grid {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }

    .works-grid img {
        width: auto;
        height: 460px;
    }

    .description {
        margin-bottom: 60px;
    }

    section {
        margin-top: 54px;
        margin-bottom: 80px;
    }

    .work-experience-grid {
        grid-template-columns: 1fr;
    }


    .form {
        grid-template-columns: 1fr;
    }
    
    input {
        width: 80%;
    }


    form button {
        width: 100%;
    }

    .footer-links {
        grid-template-columns: 1fr;
    }

    footer a {
        text-align: center;
    }

    
}

/* tablet */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {


    ul a {
        margin-left: 3em;
        font-size: 15px;
    }

    .description a{
        font-size: 20px;
    }

    .paragraph-light {
        font-size: 16px;
    }

    .work-experience-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: none;
    }

    .work-experience-grid h2 {
        font-size: 20px;
     }

    .works-grid img {
        max-width: auto;
        height: 480px;
        object-fit: cover;
        overflow: hidden;
        margin: 0px auto;
    }

    #name {
        grid-area: 1;
    }

    #email {
        grid-column: 2;
    }
    #message{
        grid-column: 1 / 2;
    } 
    
    form button {
        max-width: 30%;
    } 

    section {
        margin: 100px auto 140px auto;
    }
    
    h1 {
        text-align: left;
        font-size: 56px;
        line-height: 70px;
    }


    #my-description {
        text-align: left;
    }

    #nameinheader {
        text-align: left;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr;
        padding-left: 50%;
    }
    
  }

/* desktop */
@media (min-width: 800px) {
    .works-grid {
        grid-template-columns: 1fr 1fr;
        margin: 100px 15px;
    }

    .work-experience-grid h2 {
        font-size: 30px;
    }

    section:first-of-type {
        margin: 100px 15px;
    }

    .contact {
        margin: 0px auto;
    }
    ul a {
        margin-left: 3em;
        font-size: 18px;
    }

    .description a{
        font-size: 20px;
    }

    .paragraph-light {
        font-size: 16px;
    }

    .work-experience-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: none;
    }

    .work-experience-grid h2 {
        font-size: 20px;
     }

    .works-grid img {
        max-width: auto;
        height: 480px;
        object-fit: cover;
        overflow: hidden;
        margin: 0px auto;
    }

    form button {
        max-width: 50%;
    } 

    section {
        margin: 100px auto 140px auto;
    }
    
    h1 {
        text-align: left;
        font-size: 64px;
        line-height: 80px;
    }


    #my-description {
        text-align: left;
    }

    #nameinheader {
        text-align: left;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr;
        padding-left: 50%;
    }

    h3 {
        padding: 70px auto;
    }

    label {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-bottom: 18px ;
    }
    
    input {
        width: 80%;
        margin-bottom: 18px;
        padding: 21px 20px;
        border: 1px solid #e4e4e4;
        font-size: 14px;
    }
    
    button {
        padding: 18px 50px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        color: #ffffff;
        background-color: #1a1b1f;
        border: none;
        width: 210px;
    }

}



/* animaties van animate.css*/

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
  

/* hover effect */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

